html
  head
    link(rel="stylesheet" href="https://cdn.rtlcss.com/semantic-ui/2.4.1/semantic.rtl.min.css")
    link(rel='stylesheet' href="/stylesheets/style.css")
    link(rel='icon' href='/images/favicon.svg')

  body(style="background-color:"+background_color)
   div(class="ui container")
    h2(class="ui center aligned icon block header")
      i(class="earlybirds icon" style="padding: 20px; color:green")   
        h1(style="font-size:.4em; font-family:Lato") Greatest Hits
      div(class="four ui buttons")
        button(class="ui button" onclick="parent.open('https://docs.redhat.com/ja/documentation/openshift_container_platform')") Docs
        button(class="ui button" onclick="parent.open('https://www.redhat.com/en/whats-new-red-hat-openshift')") What's new
        button(class="ui button" onclick="parent.open('https://commons.openshift.org/')") OpenShift Commons
        button(class="ui button" onclick="parent.open('https://github.com/openshift/')") github
    block content